body{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: black;
  font-family: Tahoma;
}
.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.hidden{
  font-size: 40px;
  font-family: Andong;
  text-align: center;
  font-weight: bolder;
  margin: 30px;
  color: hsl(288.57deg 30.88% 26.67%);
}
#sign_in{
  width: 1000px;
  height: 750px;
  margin: 50px auto;
  padding-top: 30px;
  cursor: pointer;
  background-image:  url(https://img.freepik.com/premium-photo/a-beautiful-blue-rose-diamond-glass-leaves_717440-3890.jpg);
}
#section_header_2{
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin: 50px auto;
  padding-top: 30px;
  cursor: pointer;
  background-color: hsl(0deg 0% 100%);
}
#email{
  width: 250px;
  cursor: pointer;
  padding: 10px;
  margin: 15px 75px;
  color: rgb(68 31 75);
  border-radius: 8px;
}
#password{
  width: 250px;
  padding: 10px;
  cursor: pointer;
  margin-left: 75px;
  border-radius: 8px;
}
#section_header_2 .button_sign{
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 135px;
  color: white;
  border-radius: 25px;
  background-color: hsl(288deg 60.39% 59.41%);
}
#section_header_2 .text{
  color: hsl(0deg 0% 78.43%);
  margin-top: 55px;
  margin-bottom: 40px;
}
#section_header_2 .text_food{
  padding-top: 80px;
  color: hsl(278deg 13.16% 44.71%);
}
#section_3{
  font-size: 22px;
  text-align: center;
}

